/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(246, 246, 246);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(150, 161, 169);
        @greyMidLight: rgb(140, 151, 159);
        @greyLight: rgb(95, 102, 111);
        @greyMid: rgb(92, 92, 92);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarkest: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);

        @blackAlpha75: rgba(0, 0, 0, 0.75);
        @whiteAlpha10: rgba(255, 255, 255, 0.1);

        @blueLight: rgb(23, 148, 212);
        @blueDark: rgb(8, 72, 146);
        @blueDarkAlpha75: rgba(8, 72, 146, 0.75);
        @magenta: rgb(181, 12, 89);
        @blueBoma: rgb(0, 70, 148);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 90px;
        @footerHeight: 400px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: "proxima-nova-condensed", Helvetica, Arial, sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */


        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 992px)";
        @media2_: ~"(max-width: 991px)";

        @media3: ~"(min-width: 768px)";
        @media3_: ~"(max-width: 767px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";

    /* ==========================================================================
   Ad Section
   ========================================================================== */


/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

   /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

    body{
        background-color: @white;
        font-family: @fontFamily;
        color: @defaultColor;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .mm-page{
        box-shadow: none !important;
    }

    #mm-navbar{
        *{
            // background-color: @greyMid !important;
            font-family: @fontFamily !important;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.7px;
        }
    }

    svg{
        display: block;
    }

    ul{
        
    }

    a {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none !important;
        }
    }

    textarea{
        padding: 0px;
    }

    p, li, label, button, input, textarea{
        font-size: 1.6rem;
        line-height: 160%;
        font-weight: 400;
    }

    strong, b{
        font-weight: 700;
    }

    form{
        input[type="submit"]{
            background: @greyMidLight;
            border: 1px solid @greyLightest;
            color: @white;
            padding: 1rem 3rem;
            padding: 1rem 2rem;
            min-width: 15rem;
        }
    }