/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(246, 246, 246);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(150, 161, 169);
        @greyMidLight: rgb(140, 151, 159);
        @greyLight: rgb(95, 102, 111);
        @greyMid: rgb(92, 92, 92);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarkest: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);

        @blackAlpha75: rgba(0, 0, 0, 0.75);
        @whiteAlpha10: rgba(255, 255, 255, 0.1);

        @blueLight: rgb(23, 148, 212);
        @blueDark: rgb(8, 72, 146);
        @blueDarkAlpha75: rgba(8, 72, 146, 0.75);
        @magenta: rgb(181, 12, 89);
        @blueBoma: rgb(0, 70, 148);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 90px;
        @footerHeight: 400px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: "proxima-nova-condensed", Helvetica, Arial, sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */


        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 992px)";
        @media2_: ~"(max-width: 991px)";

        @media3: ~"(min-width: 768px)";
        @media3_: ~"(max-width: 767px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";


        .clearFix(){
            &:after{
                content: "";
                display: block;
                clear: both
            }
        }

        .h1(){
            font-family: @fontFamily;
            margin-top: 0px;
            font-size: 3.8rem;
            text-transform: uppercase;
            line-height: 97px;
            letter-spacing: 4px;
            font-weight: 700;
            margin-bottom: 2rem;

            @media screen and @media3_{
                font-size: 4rem;
                line-height: 100%;
            }
        }

        .h2(){
            font-family: @fontFamily;
            margin-top: 0px;
            font-size: 3.4rem;
            text-transform: uppercase;
            line-height: 90%;
            font-weight: 700;
            margin-bottom: 2rem;
            @media screen and @media3_{
                font-size: 3.4rem;
                line-height: 100%;
            }
        }

        h1{
            .h1();
        }

        h2{
            .h2();
        }

        .displayInlineBlock(@vAlign: top){
            display: inline-block;
            *display: inline;
            vertical-align: @vAlign;
            *vertical-align: @vAlign;
        }

        .displayNone(){
            display: none !important;
        }
        .displayNone{
            .displayNone();
        }

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */
    
    html {
        font-size: 10px;
    }


/* ==========================================================================
   LOGIN FORM STYLES
   ========================================================================== */
    
    .login{
        background-color: @blueBoma;
        #login{
            h1{
                a{
                    background-image: url('../images/graphics/logo.svg');
                    background-size: auto;
                    width: initial;
                }
            }
            #nav{
                a{
                    color: @white;
                }
            }
            #backtoblog{
                a{
                    color: @white;
                }
            }
            .message{
                border-left: 4px solid @greyLighter;       
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="email"]{
            border-radius: 8px;
        }
    }

    .update-nag{
        display: none;
    }

    // #wp-admin-bar-wp-logo{
    //     display: none;
    // }